configuration {
	modi:             "drun,run";
	lines:            13;
	font:             "JetBrainsMono Nerd Font 14";
	show-match:       false;
	separator-style:  "solid";
	hide-scrollbar:   true;
	show-icons:       true;
}
@theme  "~/.config/rofi/ultratheme.rasi"